.banner {
  background-color: midnightblue;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  max-width: 500px;
  object-fit: contain;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}