.header {
  width: 100%;
  padding: 8px;
  height: 64px;
  position: fixed;
  color: white;
  z-index: 1000000;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.header a:hover {
  color: var(--color-red);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  height: 100%;
  font-size: 14px;
}

.image-container {
  height: 100%;
  width: 125px;
  text-align: center;
}

.image {
  height: 100%;
  object-fit: contain;
}